		<!-- Intro Wrapper -->
		<div id="intro-wrapper" class="wrapper wrapper-style1">
			<div class="title">Health & Wellness for All</div>
			<div class="container">
				<div class="row">
					<div class="12u">

						<!-- Intro -->
							<section id="intro">
								<p class="style1">The Dragonsbane Project seeks to create a decentralized anonymous
									resource based on an ERC20 token to provide maximum personalization of health and
									wellness for all individuals using the system.</p>
								<p class="style1">Imagine a healthier world where you are in charge of your own healthcare data.</p>
								<p class="style1">Dragonsbane is not an organization seeking to profit from your life,
									it is a project seeking to increase the profit of your life.</p>
								<p class="style1">We live in a time of immense information flow and processing power.
									This gives us the capacity to solve large problems in shorter periods of time
									than ever before. However, data is segregated into pools mined by the owners
									for monetary value regardless of where the data came from. This privatization
									of individual data is akin to a single person gaining control of a commons.
									We can revitalize the commons so that those whose lives create the data can
									gain the benefit themselves.</p>
								<p class="style1">Dragonsbane is a global, distributed AI ecosystem designed to
									produce highly individualized health and wellness options for its users.
									Dragonsbane is what will slay the dragons that currently prevent us from gaining
									progress toward our goal. By being decentralized, the system will be
									constructed so that those who create the data benefit not only by the
									immediate answer but also by gaining further access to the system in the form
									of Dragonsbane Tokens (BANEs). Further, those sharing successful models
									and computing power for the system will also be rewarded with tokens for their
									work. This will incentivize the network to grow. As the system becomes larger,
									the AI will become more accurate, and deliver more value to each of its members.</p>
								<p class="style1"><br class="mobile-hide" /></p>
								<ul class="actions">
									<li><a href="home#market" class="button button-style3 button-big">Why</a></li>
								</ul>
							</section>
						<!-- /Intro -->
					</div>
				</div>
			</div>
		</div>
		<!-- /Intro Wrapper -->

		<!-- Market Wrapper -->
		<div class="wrapper wrapper-style2">
			<div id="market" class="title">Medical Industry Issues</div>
			<div class="container">
				<div class="row">
					<div class="12u">

						 <!--Main-->
							<div id="main">

								 <!--Image-->
									<!--<a class="image image-featured">-->
										<!--<img height="200" src="images/blackpainting.jpg" alt="" />-->
									<!--</a>-->
								 <!--/Image-->

								 <!--Features -->
									<section>
										<header class="style1">
											<h2>Dragons to Slay</h2>
											<p class="byline">
												We envision a future where each person’s wellness is so optimal as
												to require very little in the way of traditional healthcare.
												The approach to that singular moment will be characterized by
												increasing health and wellness at lower and lower cost until the
												singularity is reached. At that point wellness costs will be so
												small as to eliminate the need for any non-individual funding
												mechanism for almost all health-related services required from others.
												But, there are dragons in the way.
											</p>
											<p class="byline">
												It is important to note that the current situation is not the result
												of any nefarious intent. We have these dragons, not because someone
												sent them to plague us, but because this is the best we could have
												done with what we had. But we can now do better.</p>
										</header>
										<div class="feature-list">
											<div>
												<div class="row">
													<div class="12u">
														<h3>Dragon 1: Knowledge Containment</h3>
														<p>The deliberate containment of what would otherwise be free-flowing knowledge.
															Current healthcare data is sequestered by those who say they own it by
															virtue of their having paid for the care. Examples are insurance
															companies or state-run institutions that fund care. Their argument
															ignores the fact that the people whose lives created the data paid
															for the care through insurance premiums or taxes. This knowledge is
															treated as an asset of the owner rather than a commons and is not
															easily available to all wishing to advance people’s health and wellness.
															This is akin to a social media company utilizing unpaid-for,
															uploaded content to create a revenue stream from advertisers
															without the contributors benefiting in any way other than casual use of the network.</p>
													</div>
												</div>
												<div class="row">
													<div class="12u">
														<h3>Dragon 2: Knowledge Growth Limitations</h3>
														<p>The 2nd dragon stems from the historical limits of knowledge and
															the slowness of learning. We currently name disease states with
															low-granularity diagnoses such as diabetes or hypertension.
															These names become evocative of the research and assumptions
															attached to them as if they were monolithic, while, in fact,
															each person has a unique set of genetic, physical, and
															environmental factors that often change the meaning of their
															diagnosis and the most appropriate options. Such diagnoses are
															internalized by patients, without their being told the greater
															context, and become part of their identity. This makes them
															more susceptible to simplistic marketing of medications and
															treatments not optimized for them. With limited computing
															power and limited time, it is understandable how this
															system developed, but a better way is available now.</p>
													</div>
												</div>
												<div class="row">
													<div class="12u">
														<h3>Dragon 3: Scientific Research</h3>
														<p>The current vision of cutting edge research produced by the
															scientists and those who fund them. Medicine identifies
															proper treatments for low-granularity diagnoses as described
															above. Where our current system does attempt greater
															granularity in diagnosis, it is usually done along
															lines having nothing to do with the underlying biology.
															This leads to massive amounts of wealth being spent to
															develop simple treatments for diagnoses that require more
															of a complex system of treatment. An example is probably
															required here. Say we study 200 people diagnosed with Illness X.
															Half are given treatment A and half treatment B.
															The results show that to a statistically significant
															degree 60% of those given treatment B were better while
															only 40% of those who got treatment A were improved.
															The results are published in premier journals saying
															that B is better than A for diagnosis X. But what we
															don’t hear about the subjects who got better with A
															and who didn’t with B. We never learn which subjects
															would have done well with the opposite treatment.
															In short, the current model of science gives us the
															better between two treatments when in fact what we
															each want to know is, “what do I need, along with what
															else, in what order and for how long?”  This work
															equires great numbers (a large N) not generally
															accessible to funded studies. This funding limit
															illuminates the next dragon.</p>
													</div>
												</div>
												<div class="row">
													<div class="12u">
														<!--<h3 class="fa fa-facebook">FB Messenger</h3>-->
														<h3>Dragon 4: For Profit Pharmaceutical/Governments</h3>
														<p>For medical research is mostly from government programs
															or for-profit pharmaceutical companies. The latter group
															requires a return on investment (ROI), and increasingly
															the former group is being asked to provide one as well.
															This ROI is generally seen as coming back in the form of
															profits or savings and requires, in most for-profit cases,
															that the information be corralled and controlled for best
															business use. For those not for profit, the ROI is
															sometimes quantified by successfully published studies.
															These publications are not controlled by new bright
															innovative thinkers, but by the established members
															of the field who don’t accept work that questions
															their own. This same group largely inhabits the funding
															boards of the federal grantors. This system inhibits
															the breakthrough in favor of the slow evolution with
															little change to the status quo.</p>
													</div>
												</div>
												<div class="row">
													<div class="12u">
														<h3>Dragon 5: Intermittent Disease-Oriented Method of Care</h3>
														<p>Our intermittent disease oriented method of care that
															has come about as the historical outcome of all we’ve
															discussed above. Physicians are mostly paid by insurance
															companies to provide treatment for illness states during
															compensated visits. These visits have become shorter and
															more disease focused as physician reimbursement has fallen.
															Attempts at other cost structures have been met with
															“unforeseen” negative feedback loops that have actually
															increased cost, lowered availability of care, or degraded
															the quality of the physician/patient relationship.</p>
													</div>
												</div>
											</div>
										</div>
										<ul class="actions actions-centered">
											<li><a href="home#apps" class="button button-style1 button-big">Next</a></li>
										</ul>
									</section>
								 <!--/Features -->

							</div>
						 <!--/Main-->

					</div>
				</div>
			</div>
		</div>
		<!-- /Main Wrapper -->

		<!-- TODO: Insert Market Comparisons Here -->
		<!-- MedChain https://www.startengine.com/medchain -->

        <!-- Apps Wrapper -->
        <div class="wrapper wrapper-style3">
            <div id="apps" class="title">Applications</div>
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="solution">
                            <div>
                                <div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Cognitive Impairment Estimation: NeuroCog</h2>
											<p>The reason people do workplace drug testing is to see if workers are
												impaired on drugs and not safe to handle equipment or make decisions.
												In fact, drug testing is intrusive, inaccurate in many cases, and
												immaterial after intoxication has passed but drugs are still in the system.
												NeuroCog eliminates the need for workplace drug testing. It is a non-intrusive
												quick way to determine if someone is impaired. Current tests out there
												cost a lot of money and tend to take up a lot of time. Neuro-Cog takes
												less than 8 minutes, costs very little and can be done and graded in
												real time. Can you imagine that you know your surgeon is okay because she
												tested right before operating rather than because she was drug tested
												last month? NeuroCog tests for all impairment not just drug impairment.
												If a school bus driver hasn’t slept enough they shouldn’t be driving
												your children to/from school.</p>
											<!--<ul class="actions">-->
												<!--<li><a class="button button-style2">In Progress</a></li>-->
												<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
                                </div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Dopamine Tone Estimation</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Reward Overvaluation Estimation</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Disease Awareness Estimation</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Symptom Level Estimation</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Model Analysis: Historical Symptoms</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Model Analysis: Genetics</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Passive Recovery Support</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Active Recovery Support</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Community Connection & Social Interaction</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Community Resources</h2>
											<p>...</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
                            </div>
							<ul class="actions actions-centered">
								<li><a href="#components" class="button button-style1 button-big">Next</a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Apps Wrapper -->

		<!-- Components Wrapper -->
		<div class="wrapper wrapper-style2">
			<div id="components" class="title">Components</div>
			<div class="container">
				<div class="row">
					<div class="12u">
						<div>
							<div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Android</h2>
											<p>Mobile application on an open source operating system for providing all functionality securely.</p>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-two">
											<!--<a href="v4d" class="image image-left"><img src="images/neurons-firing-8.jpeg" alt="" /></a>-->
											<h2>Bane</h2>
											<p>
												Is the embodiment of the right to use the functions of the Dragonsbane Network.
												It is provided as a reward for using the system in the following ways:</p>
											<ul>
												<li>Users who submit their data inputs into the network will be rewarded with BANE.</li>
												<li>Users who submit feedback on Network derived options to improve the network will be rewarded with BANE.</li>
												<li>Users who submit models that successfully survive evolutionary feedback will be rewarded with BANE.</li>
												<li>Users who wish to receive and use the options produced by the Network will pay for that exclusively with BANE.</li>
											</ul>
											<!--<ul class="actions">-->
											<!--<li><a href="v4d" class="button button-style2">Conceptualizing</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
								<div class="row">
									<div class="6u">
										<section class="highlight highlight-one">
											<!--<a class="image image-left"><img src="images/neurons-firing-7.jpeg" alt="" /></a>-->
											<h2>Synaptic Celerity</h2>
											<p>Provides decentralized AI over secure communications.</p>
											<ul>
												<li>LID: Self-Sovereign Identity via Asymmetric Keys</li>
												<li>Key Ring: Secure Key Management with LID</li>
												<li>Info Vault: Secured Personal Information using LID</li>
												<li>Amino: Hardware Utility Token</li>
												<li>Recall: Secure Shared Persistence via IPFSDroid</li>
												<li>Consensus: Mobile POS</li>
												<li>Conscious: AI</li>
											</ul>
											<!--<ul class="actions">-->
											<!--<li><a class="button button-style2">In Progress</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
									<div class="6u">
										<section class="highlight highlight-three">
											<!--<a href="v4d" class="image image-left"><img src="images/neurons-firing-8.jpeg" alt="" /></a>-->
											<h2>BurstIQ</h2>
											<p>Machine learning for health care.</p>
											<!--<ul class="actions">-->
											<!--<li><a href="v4d" class="button button-style2">Conceptualizing</a></li>-->
											<!--<li><a href="#terms" class="button button-style1">Learn More</a></li>-->
											<!--</ul>-->
										</section>
									</div>
								</div>
							</div>
							<ul class="actions actions-centered">
								<li><a href="#roadmap" class="button button-style1 button-big">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Components Wrapper -->

		<!-- Roadmap Wrapper -->
		<div class="wrapper wrapper-style3">
			<div id="roadmap" class="title">Roadmap</div>
			<div class="container">
				<div class="row">
					<div class="12u">

						<!--Main-->
						<div id="price">

							<!--Image-->
							<!--<a class="image image-left">-->
								<!--<img src="images/neurons-firing-7.jpeg" alt="" />-->
							<!--</a>-->
							<!--/Image-->

							<!--Features-->
							<section>
								<header class="style1">
									<h2>Roadmap</h2>
									<p class="byline">A map from base functionality to a full featured fully secured
										health and wellness application beginning NeuroCog.</p>
								</header>
								<div class="feature-list">
									<div>
										<div class="row">
											<div class="4u">
												<section class="highlight highlight-one">
													<h3>1.x</h3>
													<p>NeuroCog...</p>
													<!--<ul class="actions">-->
														<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
														<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-two">
													<h3>2.x</h3>
													<p>TBD...</p>
													<!--<ul class="actions">-->
														<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
														<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-three">
													<h3>3.x</h3>
													<p>TBD...</p>
													<!--<ul class="actions">-->
													<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
													<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="highlight highlight-one">
													<h3>4.x</h3>
													<p>TBD...</p>
													<!--<ul class="actions">-->
													<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
													<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-two">
													<h3>5.x</h3>
													<p>TBD...</p>
													<!--<ul class="actions">-->
													<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
													<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-three">
													<h3>6.x</h3>
													<p>TBD...</p>
													<!--<ul class="actions">-->
													<!--<li><a href="https://www.dragonsbaneproject.org/" class="button button-style2">Conceptualizing</a></li>-->
													<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
													<!--</ul>-->
												</section>
											</div>
										</div>
									</div>
								</div>
								<ul class="actions actions-centered">
									<li><a href="#crowdsales" class="button button-style1 button-big">Next</a></li>
								</ul>
							</section>
							<!--/Features-->

						</div>
						<!--/Main-->

					</div>
				</div>
			</div>
		</div>
		<!-- /Roadmap Wrapper -->

        <!-- Crowdsales Wrapper -->
        <div class="wrapper wrapper-style2">
            <div id="crowdsales" class="title">Crowdsales</div>
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="highlights">
                            <div>
                                <div class="row">
                                    <div class="6u">
                                        <section class="highlight highlight-one">
                                            <!--<a href="https://www.dragonsbaneproject.org/" class="image image-left"><img src="images/dragonsbane-120pix.png" alt="" /></a>-->
                                            <h3>1.0 - NeuroCog</h3>
                                            <p>Building NeuroCog described above. It's expected to cost roughly
												1,000 Ether. A 2,000 Ether hard-cap will be used. No soft-cap will be
												needed as all funds will be used to build the app regardless. Crowdsale TBD.</p>
											<!--<p>Crowdsale only open to select jurisdictions through geo-fencing. If link doesn't work below,-->
												<!--your government doesn't believe you have the right to choose your own investments-->
												<!--and threatens our organization if we allow it.</p>-->
                                            <!--<ul class="actions">-->
                                                <!--<li><a target="_blank" href="https://crowdsale1.dgramz.io" class="button button-style2">Crowdsale 1</a></li>-->
												<!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
                                            <!--</ul>-->
                                        </section>
                                    </div>
                                    <div class="6u">
                                        <section class="highlight highlight-two">
                                            <!--<a class="image image-left"><img src="images/Odyssey-logo.png" alt="" /></a>-->
                                            <h3>2.0 - TBD</h3>
                                            <p>A second application. Crowdsale TBD.</p>
                                            <!--<ul class="actions">-->
                                                <!--<li><a class="button button-style2">Crowdsale 2</a></li>-->
                                                <!--<li><a href="#" class="button button-style1">Learn More</a></li>-->
                                            <!--</ul>-->
                                        </section>
                                    </div>
                                </div>
                            </div>
							<ul class="actions actions-centered">
								<li><a href="#contact" class="button button-style1 button-big">Contact</a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Partners Wrapper -->